/*Главная*/
@media (max-width: 1060px) {
    .bg_top {
        background-image: none !important;
    }
}

/* Magic */
html.no-webp .bg_top2 {
    background-image: url(/img/headings/head-magic.jpg);
}
html.webp .bg_top2 {
    background-image: url(/img/headings/head-magic.webp);
}

@media (max-width: 1060px) {
    .bg_top2 {
        background-image: none !important;
    }
}

/*Коллаж*/
@media (max-width: 1060px) {
    .bg_top_k {
        background-image: none !important;
    }
}

/*Портреты поп-арт*/
.bg_top_pop-art {
    background-repeat: no-repeat;
    background-position: center;
    background-color: #c1cdd7;
    background-size: cover;
}

html.no-webp .bg_top_pop-art {
    background-image: url(/img/headings/head-pop-art.jpg);
}

html.webp .bg_top_pop-art {
    background-image: url(/img/headings/head-pop-art.webp);
}

@media (max-width: 1060px) {
    .bg_top_pop-art {
        background-image: none !important;
    }
}

/*Портреты под живопись*/
.bg_top_pod-jivopis {
    background-repeat: no-repeat;
    background-position: center;
    background-color: #becad3;
    background-size: cover;
}

html.no-webp .bg_top_pod-jivopis {
    background-image: url(/img/headings/head-pod-jivopis.jpg);
}

html.webp .bg_top_pod-jivopis {
    background-image: url(/img/headings/head-pod-jivopis.webp);
}

@media (max-width: 1060px) {
    .bg_top_pod-jivopis {
        background-image: none !important;
    }
}

/*Портреты по фото*/
.bg_top_portreti-po-foto {
    background-repeat: no-repeat;
    background-position: center;
    background-color: #bcb9c0;
    background-size: cover;
}

html.no-webp .bg_top_portreti-po-foto {
    background-image: url(/img/headings/head-portreti-po-foto.jpg);
}

html.webp .bg_top_portreti-po-foto {
    background-image: url(/img/headings/head-portreti-po-foto.webp);
}

@media (max-width: 1060px) {
    .bg_top_portreti-po-foto {
        background-image: none !important;
    }
}

/*Портреты love is*/
.bg_top_love-is {
    background-repeat: no-repeat;
    background-position: bottom center;
    background-color: #5cb9c5;
    background-size: contain;
}

html.no-webp .bg_top_love-is {
    background-image: url(/img/headings/head-love-is.jpg);
}

html.webp .bg_top_love-is {
    background-image: url(/img/headings/head-love-is.webp);
}

@media (max-width: 1060px) {
    .bg_top_love-is {
        background-image: none !important;
    }
}

/*Мужской портрет*/
.bg_top-mujskoi-portret {
    background-repeat: no-repeat;
    background-position: center;
    background-color: #9da0a5;
    background-size: cover;
}

html.no-webp .bg_top-mujskoi-portret {
    background-image: url(/img/headings/head-mujskoi-portret.jpg);
}

html.webp .bg_top-mujskoi-portret {
    background-image: url(/img/headings/head-mujskoi-portret.webp);
}

@media (max-width: 1060px) {
    .bg_top-mujskoi-portret {
        background-image: none !important;
    }
}

/*Портреты в образе*/
.bg_top_v-obraze {
    background-repeat: no-repeat;
    background-position: center;
    background-color: #5e4f3b;
    background-size: cover;
}

html.no-webp .bg_top_v-obraze {
    background-image: url(/img/headings/head-v-obraze.jpg);
}

html.webp .bg_top_v-obraze {
    background-image: url(/img/headings/head-v-obraze.webp);
}

@media (max-width: 1060px) {
    .bg_top_v-obraze {
        background-image: none !important;
    }
}

/*Портреты дрим-арт*/
.bg_top_dream-art {
    background-repeat: no-repeat;
    background-position: center;
    background-color: #9da0a5;
    background-size: cover;
}

html.no-webp .bg_top_dream-art {
    background-image: url(/img/headings/head-dream-art.jpg);
}

html.webp .bg_top_dream-art {
    background-image: url(/img/headings/head-dream-art.webp);
}

@media (max-width: 1060px) {
    .bg_top_dream-art {
        background-image: none !important;
    }
}

/*Семейные портреты*/
.bg_top_semeinii-portret {
    background-repeat: no-repeat;
    background-position: center;
    background-color: #94b7cb;
    background-size: cover;
}

html.no-webp .bg_top_semeinii-portret {
    background-image: url(/img/headings/head-semeinii-portret.jpg);
}

html.webp .bg_top_semeinii-portret {
    background-image: url(/img/headings/head-semeinii-portret.webp);
}

@media (max-width: 1060px) {
    .bg_top_semeinii-portret {
        background-image: none !important;
    }
}

/*Свадебные портреты*/
.bg_top_svadebnyj-portret {
    background-repeat: no-repeat;
    background-position: center;
    background-color: #4a5b73;
    background-size: cover;
}

html.no-webp .bg_top_svadebnyj-portret {
    background-image: url(/img/headings/head-svadebnyj-portret.jpg);
}

html.webp .bg_top_svadebnyj-portret {
    background-image: url(/img/headings/head-svadebnyj-portret.webp);
}

@media (max-width: 1060px) {
    .bg_top_svadebnyj-portret {
        background-image: none !important;
    }
}

/*Авторские портреты*/
.bg_top_avtorskij-portret {
    background-repeat: no-repeat;
    background-position: center;
    background-color: #b3c0d0;
    background-size: cover;
}

html.no-webp .bg_top_avtorskij-portret {
    background-image: url(/img/headings/head-avtorskij-portret.jpg);
}

html.webp .bg_top_avtorskij-portret {
    background-image: url(/img/headings/head-avtorskij-portret.webp);
}

@media (max-width: 1060px) {
    .bg_top_avtorskij-portret {
        background-image: none !important;
    }
}

/*Женские портреты*/
.bg_top_jenskii-portret {
    background-repeat: no-repeat;
    background-position: center;
    background-color: #c7c8cc;
    background-size: cover;
}

html.no-webp .bg_top_jenskii-portret {
    background-image: url(/img/headings/head-jenskii-portret.jpg);
}

html.webp .bg_top_jenskii-portret {
    background-image: url(/img/headings/head-jenskii-portret.webp);
}

@media (max-width: 1060px) {
    .bg_top_jenskii-portret {
        background-image: none !important;
    }
}

/*Портреты фотомозаика*/
.bg_top_portret-fotomozaika {
    background-repeat: no-repeat;
    background-position: center;
    background-color: #6bced5;
    background-size: cover;
}

html.no-webp .bg_top_portret-fotomozaika {
    background-image: url(/img/headings/head-portret-fotomozaika.jpg);
}

html.webp .bg_top_portret-fotomozaika {
    background-image: url(/img/headings/head-portret-fotomozaika.webp);
}

@media (max-width: 1060px) {
    .bg_top_portret-fotomozaika {
        background-image: none !important;
    }
}

/*Код*/
#nested_list {
    margin-left: 25px;
}

.conditions {
    text-align: center;
}

.attention {
    color: red;
}

.size-header {
    font-size: 17px;
    font-weight: bold;
}

.subscription {
    align-items: center;
    padding: 10px 0;
}

.subscription a:hover {
    text-decoration: none;
}

@media (max-width: 600px) {
    .new-button {
        margin-top: 2%;
    }
}

/*Кнопка прокрутки*/
.topbutton {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid #c50fb9;
    text-align: center;
    position: fixed;
    bottom: 75px;
    left: 15px; 
    cursor: pointer;
    font-family: Verdana, sans-serif;
    font-size: 32px;
    color: #c50fb9;
}

.topbutton:hover {
    color: #c50fb9;
    text-decoration: none;
}

@media (max-width: 1060px) {
    .topbutton {
        display: none;
    }
}

/*Шрифт в разделе контакты в шапке*/
.small-letter {
    font-size: 0.9em;
    color: #999;
}

.small-phone {
    font-size: 0.9em;
}

/*Цвет разделов в шапке*/
.menu-footer {
    color: black;
}

hr {
    border: 2px solid;
    width: 80%;
    margin-left: 10%;
}

@media (max-width: 600px) {
    table {
        margin-left: 0;
        width: 0;
    }
}

/*Для картинов в тексте*/
/*стили для картинок слева*/
.image-text1 {
    float: right;
    width: 250px;
    margin-left: 2%;
}

/*стили для картинок справа*/
.image-text2 {
    float: left;
    width: 250px;
    margin-right: 4%;
}
.not-active {
    pointer-events: none; 
    cursor: default;
}

/*Для мобильной версии*/
@media (max-width: 600px) {
    .image-text1, .image-text2 {
        float: none;
        text-align: center;
    }
}

/*Для видео с ютуба*/
@media (max-width: 600px) {
    iframe {
      width: 100%;
    }
    .video-right {
      padding-left: 0;
    } 
    .video-tube {
      width: 108%;
    }
}

/*Для иконок социальный сетей*/
.icons-social {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

/*Для вращения иконок с преимуществами*/
.icon-vr {
    position: relative; z-index: 10;
    -webkit-transition: -webkit-transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    margin-bottom: 13px
}

.icon-vr:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
}

/*Для размера телефона и слогана*/
.phone-size {
  font-size: 15px;
  font-family: f2,Tahoma,Arial,sans-serif;
}
.slogan-size {
  font-size: 28px;
}
.blog-phone {
  float: right;
  margin-left: 40px;
}
@media (max-width: 600px) {
    .blog-phone {
      float: none;
    }
}
.big {
  padding-bottom: 0px;
}
/*Для блоков в акциях и статьях*/
@media (max-width: 600px) {
    .blog-foto {
      width: 100% !important;
    }
}

/*Для шапки*/
.main-header {
    height: 100px;
}
.bg_black {
    display: block;
}
.lk77712 {
    font-size: 18px;
    line-height: 1.2;
}
.g1s5 {
    font-size: 35px;
    line-height: 1;
    font-family: f2,Tahoma,Arial,sans-serif;
}
.discounts {
    font-size: 14px;
}
.sale {
    font-size: 22px;
}
.garant {
    margin-top: 0;
}
.vish {
    margin: 0 0 5px 0;
}
.strl {
    bottom: -28px;
}

/*Для кнопки прайс лист*/
.pryce-lisst {
    font-size: 30px;
    background: linear-gradient(to right,#a02bb0,#c50fb9);
    padding: 25px;
    color: white;
    margin-left: 40px;
}

/*Для кнопки в калькуляторе и подвале*/
.btn-calc1 {
    width: 25%;
    background: #cd40dc;
    padding: 0;
}
.btn-calc1:hover {
    background: #7e46a2;
}
.space {
    height: 0;
}
.btn-calc2 {
    background: #cd40dc;
}
.btn-calc2:hover {
    background: #7e46a2 !important;
}
.btn-calc3 {
    width: 20%;
    background: #cd40dc;
    padding: 0;
}
.btn-calc3:hover {
    background: #7e46a2;
}
/*Преимущества*/
.bxz {
    margin: 35px
}
@media (max-width: 600px) {
    .our-advantage {
        display: none;
    }
}
/*Для отзывов*/
.reviews-block-item {
    flex: 1 1 47%;
}
.indent {
    margin-left: 20px;
}
.left-review {
    margin-right: 35px;
}
@media (max-width: 600px) {
    .reviews-block-item {
       flex: 0 1 100%;
    }
    .left-review {
       margin-right: 0;
    }
    .indent {
       margin-right: 15px;
    }
}
/*Кнопка написать отзыв*/
.btn-write-reviews {
    background: #0387cf; 
    padding: 2px 30px;
}
.btn-write-reviews:hover {
    background: #055c8b;
} 
/*Номера и почта для мобильной версии*/
@media (max-width: 600px) {
    .rifht {
        display: none !important;
    }
    .main-header {
        height: 0 !important;
    }
}
/*Стрелочка в шапке*/
@media (max-width: 1060px) {
    .strl {
        display: none;
    }
}
/*Калькулятор в мобилке*/
@media (max-width: 600px) {
    .calc-mobile {
        display: none;
    }
}
/*Кнопки в мобилке*/
@media (max-width: 600px) {
    .btn-calc1, .btn-calc3 {
        width: 60%;
    }
}
/*Картинки с размерами в мобилке*/
@media (max-width: 600px) {
    .b9 { 
        /*height: 2000px;*/
        background-size: 0%;
    }
    .kar1, .kar2, .kar3, .kar4, .kar5 {
        width: 185px;
    }
}
@media (max-width: 400px) {
    .visitk { 
        height: 195px;
    }
}
@media (max-width: 360px) {
    .kartis { 
        margin: 10px 10px 60px;
    }
}
/*Стиль работ для планшета*/
@media (min-width: 730px) and (max-width: 960px) {
    .visitk { 
        width: 220px;
        margin: 10px 40px;
    }
}
/*Этапы изготовления для планшета*/
@media (min-width: 690px) and (max-width: 840px) {
    .bxz { 
        margin: 25px 60px
    }
}
/*Строение картины для планшета*/
@media (min-width: 640px) and (max-width: 955px) {
    .tablet-version { 
        width: 100%;
        margin-bottom: 50px
    }
}
/*@media (min-width: 640px) and (max-width: 760px) {
    .text-for-tablet {
        margin: 0 85px;
    }
}*/